@charset "UTF-8";

html{
    font-size: 19px;
}

body {
    background-color: black;
    color: silver;
    text-align: center;
}

div.container{
    width: 1200px;
    margin: 0 auto;
}

a{
    color: goldenrod;
    text-decoration: none;
}

a:hover{
    color: gold;
}

img{
    width: auto;
    height: 640px;
}

button{
    margin: 10px auto;
}

img#zero{
    opacity: 1;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

img#one{
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

footer{
    /*font-size: 1rem;*/
    width: 100%;
    margin: 0;
    padding: 15px 0 15px;
    /*background-color: #333333;*/
    border-top: 4px double gray;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
}

footer div{
    font-size: 1rem;
}

@media screen and (max-width: 1000px){
    html{
        font-size: 40px;
    }

    footer{
        position: relative;
    }
}